body {
 background-image: url("bg.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

.div-form
{
	background-color: white;
	opacity: 80%;
	float: none; 
	margin: 0 auto; 
	width: 350px; 
	border: solid 1px black;
	padding: 25px;
	border-radius: 5%;
	position: absolute;
	  top: 50%;
	  left:50%;
	  transform: translate(-50%,-50%);
}

.div-form-5
{
	background-color: white;
	opacity: 80%;
	float: none; 
	margin: 0 auto; 
	width: 550px; 
	border: solid 1px black;
	padding: 25px;
	border-radius: 5%;
	position: absolute;
	  top: 50%;
	  left:50%;
	  transform: translate(-50%,-50%);
}



.div-form-12
{
	background-color: white;
	opacity: 80%;
	float: none; 
	margin: 0 auto; 
	width: 850px; 
	border: solid 1px black;
	padding: 25px;
	border-radius: 5%;
	position: absolute;
	  top: 50%;
	  left:50%;
	  transform: translate(-50%,-50%);
}